html{
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
.title {
    font-family: 'Oswald', sans-serif;
    
}
#converter-box{
    padding: 20px;
    color: white;
    background-color: darkolivegreen;
    font-family: 'Roboto', sans-serif;
}


