html{
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}

#deposit, #withdrawl{
    display: none;
}

h1 {
    text-align: center;
}

.title{
    font-family: 'Roboto', sans-serif;
}

.column{
    font-family: 'Oswald', sans-serif;
}