html{
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: rgb(243, 239, 239);
}
.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center
}
.row-target {
    display:flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 2px;
    font-family: 'Playfair Display', serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.round {
    border-radius: 50%;
}
.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
.next {
    background-color: rgb(56, 172, 201);
    color: white;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgba(15, 172, 201, 0.5);
    color: black;
  }

  #page-num {
      display: flex;
    
  }
